- var _action = {{model}}._action == 'edit' ? '#' : '/{{models}}/'
- var _method = {{model}}._action == 'edit' ? ""  : "post"
- var _type   = {{model}}._action == 'edit' ? "button"  : "submit"
- var onClick  = {{model}}._action == 'edit' ?  "click_edit('{{model}}-" + {{model}}._action + "-form','/{{models}}/" + {{model}}._id + "/')" : ""
form(id='{{model}}-#{ {{model}}._action}-form',action="#{_action}", method="#{_method}",role='form')
  each n in [{{{model_dot_attrs}}}]
    - m = eval(n);
    div(class="field")
      label #{n.split('.')[1]} #{m}
      br
      input(type='text',name="#{n.split('.')[1]}" ,value="#{ m == undefined ? '' : m }")
        
  div(class="actions") 
    input(type='#{_type}',value='Submit',onClick='#{onClick}')